.banner-content{
    max-width: 720px;
    margin-left: unset;
    margin-right: auto;
    text-align: left;
    padding-right: 52px;
    /* padding-top: 200px; */
    padding-bottom: 100px;
    
}
.banner-content h1 {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.1;
}
/*Button Three*/
.button-three {
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}